<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="category_page_style.css" />
    <link rel="stylesheet" href="../header/header_style.css" />
    <title>Movie App</title>
  </head>
  <body>

    <header class="my_header"></header>
    <h1 class="cat"></h1>
    <main id="Category_main"></main>
    <script src="../header/header_script.js"></script>
    <script src="category_page_script.js"></script>
    
  </body>
</html>
