<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="movie_page_style.css" />
    <link rel="stylesheet" href="../header/header_style.css" />
    <title>Movie App</title>
  </head>
  <body>
    
    <header class="my_header"></header>
    <main id="page_main">
    <h1 class="movie_title"></h1> 
    <div class="movie_detail"></div>
    <h1 class="rem">Recommend</h1>
    <div class="movie_rmd"></div>
    </main>
    <script src="../header/header_script.js"></script>
    <script src="movie_page_script.js"></script>
  </body>
</html>