@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
  --primary-color: #171717;
  --secondary-color: #444444;
  --text-color:#D8E3E7;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
.movie_title{
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 10px;
  letter-spacing: 0.5px;
  margin: 5px;
  font-size: 4vw;
  color: var(--text-color);
}
.movie_detail{
  height: 100vh;
  width: 100%;
  padding-left: 4vw;
  padding-right: 4vw;
}

.movie_show{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 50px;
  height: 100%;
  width: 100%;
}
.pic{
  justify-self: left;
  max-height: 80vh;
  width: 100%;
}
.pic img{
  max-height: 100%;
  width: 100%;
  border-radius: 4%;
}

.info{
  grid-column: 2 / span 3;
  width: 100%;
}
.title_rate{
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  letter-spacing: 0.5px;
}
.info h2{
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom: 7px;
  color: var(--text-color);
}
.title {
  margin: -1rem;
}
.info p{
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.info span.green {
  color: lightgreen;
}

.info span.orange {
  color: orange;
}

.info span.red {
  color: red;
}
.r_date{
  color: var(--text-color);
  padding: 1.1rem;
  font-size: 25px;
  letter-spacing: 0.5px;
}

.genre{
  display: flex;
  padding-top: 2vh;
}


.genre_e{
  color: var(--text-color);
  padding: 1rem;
  letter-spacing: 0.5px;
  margin: 1rem;
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  border-radius: 50px;
  cursor: pointer;
}

.genre_e:hover{
  background-color: #212121;
}


.rem{
  justify-content: space-between;
  padding-left: 4vw;
  padding-right: 10px;
  letter-spacing: 0.5px;
  margin-top: -10vh;
  font-size: 4vw;
  color: var(--text-color);
}



/* MOVIE Recommand style */

.movie_rmd{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 5vw;
}

.movie {
  width: 300px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.movie img {
  width: 100%;
  min-height: 450px;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}



.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.movie:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
